@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --primary-back-color: #000011;
    --primary-fore-color: #b55de9;
    
    /* --primary-back-color: #090c0f;
    --primary-fore-color: #10f177; */
    
    /* --primary-back-color: #ffffff;
    --primary-fore-color: #221927; */

    /* --primary-back-color: #E8F5E9;
    --primary-fore-color: #004D40; */

    /* --primary-back-color: #E8F5E9;
    --primary-fore-color: #003366; */


    /* --primary-back-color: #2a0713;
    --primary-fore-color: #f30867; */

    /* --primary-back-color: red;
    --primary-fore-color: #eaba1a; */

    /* --primary-back-color: #000005;
    --primary-fore-color: #fff; */

    --font-color: #fff;
    /* --font-color: black; */
    --font-size: 16px;
    --border-width: 2px;

    /* --font-color: black; */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

    /* transition: color .3s ease; */
    transition: background-color .5s ease;

    /* cursor: url(img/mc24.ico), auto; */
}

html {
    scroll-behavior: smooth;

    -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
}

body{
    background: var(--primary-back-color);
    color: var(--font-color);


}

#theme-ind {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: absolute;
    top: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0%;

    transition: opacity .5s ease;
}

#theme-ind-p {
    background-color: var(--primary-back-color);
    color: var(--primary-fore-color);
    padding: .5vw 1.5vw;
    border-radius: 1.5vw;
    /* border-radius:  0 1.5vw 0 1.5vw; */
    /* tl tr bl br - z */
    /* border-radius:  1.5vw 0 1.5vw 1.5vw; */
    /* border-radius:  0 1.5vw 1.5vw 1.5vw; */
    /* border-radius:  0  0 1.5vw 1.5vw; */

    box-shadow: 0px 0px 5px 2px var(--primary-fore-color);    

}



/* ================================= */
/* scrollbar */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: var(--primary-back-color); 
}

::-webkit-scrollbar-thumb {
    background: var(--primary-fore-color); 
    border-radius: 5px; 
}

#p-test::-webkit-scrollbar {
    width: 3px;
  
}

#p-test::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

#p-test::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 20px; 
}

/* =================================== */

.no-scroll {
    overflow: hidden;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    height: 5vw;
    /* background-color: transparent; */

}

.logo{
    font-size: 25px;
    color:var(--primary-fore-color);
    text-decoration: none;
    font-weight: 700;

    
}

.logo:hover{
    color: var(--primary-fore-color);
    transition: .5s;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* background-color: blueviolet; */
}

.navbar a {
    font-size: 18px;
    color: var(--font-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    

}

.navbar a:hover,.navbar a.active{
    color: var(--primary-fore-color);
    transition: .5s;
    
}

.navbar i {
    /* display: none; */
    font-size: 1.2em;
    /* color: var(--primary-fore-color); */
}

#menu{
    display: none;
}



.home {
    height: auto;
    min-height: calc(100vh - 5vw);
    /* height: auto; */
    /* background: url('home.jpg') no-repeat; */
    background-size: cover;
    background-position: center;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;

    overflow: hidden;
    flex-wrap: wrap;

    background-color: var(--primary-back-color);
    /* background-color: #224244; */

    font-size: 100%;

}

.head-container{
    /* background-color: red; */
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-container i {
    font-size: 1.5em;
    color: var(--primary-fore-color);
    cursor: pointer;

    background-color: transparent;

    padding: 5px;
    border-radius: 5px;

}

.layer-hover{
    position: relative;
    left: 41%;
    /* background-color: blue; */
    /* height: 0px; */
    text-align: right;
    opacity: 1;

    transition: opacity .2s ease;

    color: var(--primary-fore-color);
}

.layer-hover:hover{
    opacity: 1;
}

.home-content {
    /* margin-top: -10%; */
    width: 60%;
    max-width: 800px;
    height: auto;

    overflow: none;

    font-size: 1.2vw;

    /* background-color: red; */

}

#my-name {
    color: var(--primary-fore-color);
}

.home-content h1{
    color: var(--font-color);
    height: auto;
}

#web{
    color: var(--primary-fore-color);
}

.home-content h3{
    color: var(--primary-fore-color);
}

.home-content p{
    color: var(--font-color);
    margin: 20px 0 20px;
    /* width: auto; */

    /* text-align: justify; */
}

#gallery-div {
    /* background-color: blue; */
    /* position: relative; */

    height: 400px;
    width: 400px;

    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* box-shadow: 1px 1px 500px var(--primary-fore-color); */
    /* box-shadow: 0px 0px 500px var(--primary-fore-color); */
}

#img-back{
    min-height: 100px;
    min-width: 100px;
    border-radius: 50%;
    background-color: var(--primary-fore-color);
    /* background-color: transparent; */
    position: absolute;
    /* box-shadow: 0px 0px 100px 30px var(--primary-fore-color); */
    box-shadow: 0px 0px 100px 80px var(--primary-fore-color);    
}


#img-slide{
    width: 100%;
    border-radius: 30%;
    z-index: 2;
    transition: all 1s ease;

    /* box-shadow: 0px 0px 40px var(--primary-fore-color) inset; */
    box-shadow: 0px 0px 200px var(--primary-fore-color);

    /* box-shadow: inset 0px 0px 190px var(--primary-fore-color), 0px 0px 200px var(--primary-fore-color); */

}

#img-slide:hover {
    transform: scale(110%) rotate(10deg);

}


.btn-box {
    background: transparent;
    display: flex;
    justify-content: space-between;
    /* margin-top: 3%; */
    /* margin-left: 0%; */
    max-width: 350px;
    height: 40px;
    justify-content: space-between;
    text-decoration: none;

    /* background-color: green; */
}

.hover-eff{
    position: relative;
    background: var(--primary-fore-color);
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primary-back-color);
    justify-content: center;
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 100%;
    border: 2px solid var(--primary-fore-color);    
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
    padding: 5px 10px;
}

.hover-eff::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--primary-back-color);
    z-index: -1;
    transition: .5s;        

}

.hover-eff:hover::before{
    width: 100%;   
    
}

.hover-eff:hover{
    color: var(--primary-fore-color);
}


.btn-box a:nth-child(2) {
    background: transparent;
    color: var(--primary-fore-color);
}

.btn-box a:nth-child(2)::before {
    background: var(--primary-fore-color);
}

.btn-box a:nth-child(2):hover {
    color: var(--primary-back-color);   

}

.skills-div{
    /* background-color: grey; */

    border-top: 1px solid var(--primary-fore-color);
    padding: 20px 8%;


    height: auto;
    width: 100%;
    /* min-height: 100vh; */

}

.skills-inner{
    /* background-color: blue; */
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items:baseline;

    padding: 10px 10%;

    flex-wrap: wrap;

    /* flex-direction: column; */

    /* row-gap: 150px; */
    /* column-gap: 100px; */

    gap: 10%;

    /* flex: 2; */

    
}

.no-padding {

    padding: 10px 1%;

}

.accent-color{
    color: var(--primary-fore-color);
}

.headings {
    color: var(--primary-fore-color);
    font-weight: 600;

    font-size: 1.3em;
}


.hovers{
    position: relative;
    background: var(--primary-back-color);
    
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primary-fore-color);
    justify-content: center;
    display: inline-flex;
    align-items: center;
    height: auto;
    /* border-radius: 8px; */
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    padding: 8px 10px;
    
    width: auto;
    min-width: 320px;

    border: 2px solid var(--primary-fore-color);    
    /* background: green; */

    margin: 10px 0 10px 0;

    /* font-size: 1.1em; */
}

.hovers::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;        
    
    background: var(--primary-fore-color);
}
    
.hovers:hover::before{
        width: 100%;   
}
        
.hovers:hover{
    color: var(--primary-back-color);
}

.about-p{
    margin-top: 15px;
    padding: 0 1%;

    font-size: 1.2rem;

    /* background-color: red; */

    text-align: justify;


}

.first-p {
    margin-top: 0px;
}


.icons{
    /* position: absolute; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* bottom: 40px; */
    width: 100%;
    /* margin: 0 0 2% 0; */
    height: auto;

    /* background-color: blue; */

    padding: 10px 8%;
    /* padding: 10px 8% 0 8%; */

    border-top: 1px solid var(--primary-fore-color);
    /* border-bottom: 1px solid #f30867; */

}

.icons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--primary-fore-color);
    border-radius: 50%;
    font-size: 25px;    
    color: var(--primary-fore-color);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;

    margin: 0 10px 0 10px;

    /* background-color: green; */
}

#first-a{
    margin: 0 10px 0 0px;
}

#icons-inner-div {
    /* background-color: red; */
    margin: 0;
}

.icons a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--primary-fore-color);
    z-index: -1;
    transition: .5s; 
}

.icons a:hover::before{
    width: 100%;
}

.icons a:hover{
    color: var(--primary-back-color);
}

.home-imghover{
    position: absolute;
    top: 10px;
    right: 30px;
    width: 630px;
    height: 100%;
    background: transparent;
    transition: 2s;

}

.home-imghover:hover{
    background: var(--primary-back-color);
    opacity: .8;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    /* padding: 0 0 5px 0; */
    color: var(--primary-back-color);

    background-color: var(--primary-fore-color);

    text-decoration: none;
}

p span {
    font-weight: 600;
    /* color: #f30867; */
}

#all-layers{
    transition: all .3s ease;
    border-radius: 20%;
    cursor: pointer;
}

/* ===================== */

.p-test{
    background-color: var(--primary-fore-color);
    width: 100%;
    /* display: none; */

    border-radius: 8px;

    max-height: 0px;
    /* min-height: 0px; */
    /* height: 0px; */

    overflow:auto;

    color: var(--primary-back-color);

    padding-left: 3px;
    transform: scale(0.9);

    /* box-shadow: 10px 10px 10px var(--primary-fore-color); */

    transition: all .5s ease;
}


.expanded{
    max-height: 300px;
    /* width: 100%; */
    transform: scale(1);

    
}


#p-test2{
    /* background-color: blueviolet; */
    width: 100%;
    /* display: none; */

    height: 0px;
    border-radius: 5px;


    overflow: hidden;



    transition: height,padding .8s ease;
}





.d1 {
    /* background-color: red; */
    /* border: 1px solid var(--primary-fore-color); */
    width: 45%;
    /* padding: 20px; */

    display: flex;
    justify-content: space-between;
    align-items:center;

    flex-direction: column;

    /* background-color: red; */

    position: relative;
}

.d2 {
    width: 100%;
    background-color: rebeccapurple;
    border-radius: 5px;

}

.dt1 {
    /* background-color: rebeccapurple; */
    justify-content: center;
    align-items: self-start;
}



#dash-main{
    background-color: var(--primary-back-color);
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


    border-top: 1px solid var(--primary-fore-color);

}

#dash-outer{
    background-color: var(--primary-back-color);
    width: 95%;
    height: 95%;
    border-radius: 10px;

    box-shadow: 0 0 20px 1px var(--primary-fore-color);



}



/* ================================== */


@media screen and (max-width: 800px) {
    .header{
        /* background-color: rgba(0, 0, 0, 0.259); */
        height: 25px;
        padding: 20px 5%;
        z-index: 5;
    }
    .logo {
        font-size: 20px;
    }
    .navbar{
        /* background-color: rgb(0, 0, 0); */
        display: flex;
        align-items: center;
    }

    .navbar a {
        display: none;
    }

    #menu {
        color: var(--font-color);
        /* background-color: blue; */
        font-size: 1.7em;
        font-weight: 550;
        display: flex; 

    }

    .home{
        /* height: calc(100%-25px); */
        /* height: 500px; */

        align-items: self-start;
    }

    #img-back{
        box-shadow: 0px 0px 40px 20px var(--primary-fore-color);
        min-height: 50px;
        min-width: 50px;
    }

    #theme-ind {
        top: 6%;
        display: none;
    }
    #theme-ind-p {
        padding: 1.3vw 2vw;
        border-radius: 5vw;
    }
    
}

#menu-container {
    display: none;
}



@media screen and (max-width: 1000px) {
    .header{
      

        padding: 20px 4%;
    
    }

    .home{
        align-items: self-start;

        padding: 10% 4%;

        justify-content: center;
        /* height: auto; */
        height: 100vh;
    }

    #intro-text {
        padding: 0;
        font-size: 1.4em;
        text-align: left;
    }

    #gallery-div{
        margin: 15% 0 0 0;
        width: 100vw;
        height: 200px;
    }

    .home-content{
        width: 100vw;
        font-size: 0.7em;    
        min-width: auto;

    }

    .home-content p {
        font-size: 1.5em;
    }
    
    .btn-box {
        width: 210px;
    }

    .icons {
        justify-content: space-around;
    /* margin: 8% 0 8% 0; */

    }

    .skills-div {
        /* padding: 0 6% 0 6%; */
        /* margin: 0; */
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        

    }

    .skills-inner{
        justify-content: center;
        width: 100%;
      

    }

    #menu-overlay{
        background-color: rgba(0, 0, 0, 0.315);
        width: 100%;
        height: 100%;

        position: absolute;
        top: 2px;
        /* left: 2%; */

        display: none;

        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;



    }

    #menu-container {
        background-color: var(--primary-back-color);
        /* justify-content:center; */
        align-items: self-start;
        flex-direction: column;
        width: 60vw;
        position: absolute;
        
        text-align: left;
        
        /* top: 2px; */
        /* left: 0%; */
        padding: 10% 0 0 5%;
        
        border-radius: 2px;
        /* border: 1px solid gray; */
        
        z-index: 8;
        
        height: 100%;

        overflow-x: auto;
        
        overflow: none;
        
        font-size: 1.2em;
        font-weight: 500;
        display: flex;

        transform: translateX(-100%);

        /* transition: left 1s ease; */

        /* background-color: blue; */
    }
    
    #menu-container a {
        margin-top: 6%;
        color: var(--font-color);
    }

    #menu-container p {
        position: absolute;
        top: 2px;

        /* font-weight: 600; */
        font-size: 1.2em;

        border-bottom: 1px solid grey;

        width: auto;
        display: flex;
        justify-content: last baseline;
        align-items: center;

        /* padding: 0% 1%; */

        /* background-color: red; */

    }

    #menu-container p i {
        /* font-weight: 600; */
        font-size: 1.34em;
        
    }

    #img-slide{
        height: 100%;
        width: auto;
        /* border-radius: 5px; */
    
    }

    .dt1{
        /* background-color: blue; */
        width: 100%;
        padding: 0;
    }

    .d1 {
        /* background-color: red; */
        width: 100%;
        /* margin: 20px; */
    }

    #p-test{
        width: 100%;
        overflow: auto;    
    
    }

    .about-p{
        /* margin-top: 15px; */
        
        padding: 0;
        font-size: .9em;
        text-align: left;
    
        /* background-color: blueviolet; */
    
    }

    #mode {
        margin-right: 30px;
        font-size: 1.4em;
    }

    #theme-ind {
        /* top: 6%; */
        display: none;
    }

    
    
}



h1{
    color: var(--font-color);
}



/* ==================================FORM==================================== */

#form-con{
    /* background-color: red; */

    display: flex;
    justify-content: center;
    align-items: center;


    /* padding: 10% 0 0 5%; */

    padding: 30px 20px;

    border-top: 1px solid var(--primary-fore-color);
    


    
}

.contact-form-container {
    /* background-color: rebeccapurple; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px var(--primary-fore-color);
    width: 100%;
    max-width: 850px;

  

}

h2 {
    margin-bottom: 20px;
    color: var(--primary-fore-color);
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-fore-color);
    border-radius: 5px;
    background-color: transparent;
    
    font-weight: 500;

    color: var(--primary-fore-color);
}

.inp-cl:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px var(--primary-back-color) inset !important; /* Change the background color to white */
    -webkit-text-fill-color: var(--primary-fore-color) !important; /* Change the text color */
    /* font-family: 'Open Sans', sans-serif !important; */
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;

    /* font-weight: 600; */
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-fore-color);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;

    transition: all .3s ease;
}

button:hover {
    /* background-color: #218838; */
    opacity: 90%;
}

#status {
    margin-top: 10px;
    /* background-color: red; */
    text-align: center;
}




/* ======== testing ================ */

.clicked {
    /* height: 300px; */

    transition: all .5s ease;
    height: 45px;

}

.stick {
    display: block;
    /* background-color: red; */
    text-align: center;

    transition: all .4s ease;
}


.lrel {
    position: relative;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .clicked {
    height: 300px;
    border-radius: 20%;
    align-items: baseline;
    /* margin: 60px 0px; */
    border: none;
    /* overflow-y:scroll; */

    box-shadow: 0px 0px 40px var(--primary-fore-color);

     /* box-shadow: 0px 1px 15px var(--primary-fore-color),  10px 10px 20px var(--primary-fore-color) inset; */
}

.new-test {
    /* display: none;   */
    opacity: 0;
    height: 0px;   
    display: flex;
    justify-content: center;
    align-items:center;

    position: absolute;
    width: 100%;
    height: 100%;    
    overflow: hidden;
    
    padding: 20px;

    font-weight: normal;
    
    text-align: center;
    transition: all .4s ease;


    /* background-color: red; */
}

input[type="checkbox"]:checked + label .new-test {
    opacity: 1;
}

.colorform {
    display: block;
    background-color: red;
    height: 20px;
    width: 20px;

    position: absolute;
}


